<form (ngSubmit)="guardarPoliticas(forma)" #forma="ngForm">
  <div mat-dialog-content>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="align-content: center;">
              <div class="card-header card-header-primary" style="text-align: center;">
                  <h2 class="card-title">Registro </h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3 ">
                    <mat-form-field appearance="standard">
                      <mat-label>Fecha de inicio</mat-label>
                      <input matInput [min]="minDateInicio" [max]="maxDateInicio" [matDatepicker]="picker" required
                      [disabled]="estado"
                      name="fechaEstablecimiento"
                      #fechaEstablecimiento="ngModel"
                      [(ngModel)]="politicas.fechaEstablecimiento" (dateInput)="fechaSeleccionada(politicas.fechaEstablecimiento)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="standard">
                      <mat-label>Fecha de finalización</mat-label>
                      <input matInput [min]="minDateFin" [max]="maxDateFin" [matDatepicker]="picker1" required [disabled]="fecValida"
                      [disabled]="estado"
                      name="fechaFin"
                      #fechaFin="ngModel"
                      [(ngModel)]="politicas.fechaFinalizacion">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>                   
                </div>

                <div class="row">                  
                  <div class="col-md-3">
                    <mat-form-field appearance="standard">
                      <mat-label>Tipo de crédito</mat-label>
                      <mat-select required
                      [disabled]="estado"
                      name="tipoCredito"
                      #tipoCredito="ngModel"
                      [(ngModel)]="politicas.tipoCredito">
                        <mat-option value="HIPOTECARIO">Hipotecario</mat-option>
                        <mat-option value="CONSUMO">Consumo</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Días de cobro</mat-label>
                      <input matInput type="number" placeholder="Días de cobro" required [disabled]="estado"
                      [disabled]="estado"
                      name="diasCobro"
                      #diasCobro="ngModel"
                      [(ngModel)]="politicas.diasCobro">
                    </mat-form-field>
                  </div> 
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Tasa de interés</mat-label>
                      <input matInput type="number" placeholder="Tasa de interés (%)" required
                      [disabled]="estado"
                      name="tInteres"
                      #tInteres="ngModel"
                      [(ngModel)]="politicas.tasaInteres">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Período de inicio</mat-label>
                      <input matInput type="number" placeholder="Período de inicio" required
                      [disabled]="estado"
                      name="tiempoInferior"
                      #tiempoInferior="ngModel"
                      [(ngModel)]="politicas.tiempoInferior">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Período de finalización</mat-label>
                      <input matInput type="number" placeholder="Período de finalización" required
                      [disabled]="estado"
                      name="tiempoSuperior"
                      #tiempoSuperior="ngModel"
                      [(ngModel)]="politicas.tiempoSuperior">
                    </mat-form-field>
                  </div>                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Cuota por mora</mat-label>
                      <input matInput type="number" placeholder="Cuota por mora ($)" required
                      [disabled]="estado"
                      name="tMora"
                      #tMora="ngModel"
                      [(ngModel)]="politicas.tasaMora">
                    </mat-form-field>
                  </div>
                </div>
                  
                <div class="row">                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Monto inferior</mat-label>
                      <input matInput type="number" placeholder="Monto inferior ($)" required
                      [disabled]="estado"
                      name="mInferior"
                      #mInferior="ngModel"
                      [(ngModel)]="politicas.montoInferior">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Monto superior</mat-label>
                      <input matInput type="number" placeholder="Monto superior ($)" required
                      [disabled]="estado"
                      name="mSuperior"
                      #mSuperior="ngModel"
                      [(ngModel)]="politicas.montoSuperior">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-9">
                    <hr>
                    <p><b>Comisiones</b></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Gasto de tramitación ($)</mat-label>
                      <input matInput type="number" placeholder="Gasto de tramitación (%)" required
                      [disabled]="estado"
                      name="tramitacion"
                      #tramitacion="ngModel"
                      [(ngModel)]="politicas.gastosTramitacion">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Honorarios notariales ($)</mat-label>
                      <input matInput type="number" placeholder="Honorarios notariales (%)" required
                      [disabled]="estado"
                      name="notario"
                      #notario="ngModel"
                      [(ngModel)]="politicas.gastosNotario">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>Otras comisiones ($)</mat-label>
                      <input matInput type="number" placeholder="Otros ($)" 
                      [disabled]="estado"
                      name="otras"
                      #otras="ngModel"
                      [(ngModel)]="politicas.otrasComisiones">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
 
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="align-content-end">
    <button mat-raised-button class="btn btn-danger" type="button" (click)="onCancelar()">Cancelar</button>
    <button mat-raised-button class="btn btn-primary" type="submit" [disabled]="forma.invalid" [hidden]="ocultarBoton" [mat-dialog-close]="true">Guardar</button>
  </div>
</form>