<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button mat-raised-button class="btn btn-primary" (click)="openDialogUsuarios()">Agregar registro</button>
            </div>
        </div>
        <div class="row" *ngIf="!cargando && listaUsuarios.length > 0">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="text-align: center;">
                        <h4 class="card-title">Detalles listados</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        NIT
                                    </th>
                                    <th>
                                        Nombre de usuario
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Acción
                                    </th>
                                </thead>
                                <tbody>
                                   <tr *ngFor="let p of listaUsuarios | paginate: { itemsPerPage: 5, currentPage: pageList }">
                                      <td>
                                          {{p.nit | nit}}
                                      </td>
                                      <td>
                                          {{p.nombre}}
                                      </td>
                                      <td>
                                          {{p.tipo}}
                                      </td>
                                      <td>
                                        <button mat-icon-button color="primary" (click)="openDialogUsuarios(p)">
                                            <mat-icon>edit</mat-icon>
                                          </button>
                                      </td>
                                   </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <pagination-controls (pageChange)="pageList = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card" *ngIf="!cargando && listaUsuarios.length === 0">
                    <mat-card>No hay datos</mat-card>
                </div>

                <div class="text-center" *ngIf="cargando">
                    <mat-card class="alert alert-danger">
                        Cargando...
                        <mat-card-content>
                            <mat-icon class="fa-spin" >autorenew</mat-icon>
                        </mat-card-content>
                        Por favor espere!
                    </mat-card>
                    
                </div>

            </div>
        </div>
    </div>
  </div>
  