<div mat-dialog-content>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary" style="text-align: center;">
              <h2 class="card-title">Registro </h2>
          </div>
          <div class="card-body">
            <mat-horizontal-stepper [linear]="valido" (selectionChange)="selectionChange($event)">
              <mat-step state="p1">
                <form (ngSubmit)="guardarActivo(forma)" #forma="ngForm" autocomplete="on">
                  <ng-template matStepLabel>Activo Fio</ng-template>
                   <div class="row">
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nombre del activo" required 
                              name="nombre"
                              #nombre="ngModel"
                              [(ngModel)]="activofijo.nombre">
                          </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field appearance="legacy">
                              <mat-label>Tipo de activo</mat-label>
                              <mat-select required name="ta"
                              #ta="ngModel"
                              [(ngModel)]="activofijo.tipoActivo">
                                  <mat-option *ngFor="let tactivo of listaTipoActivo" 
                                  [value]="tactivo">{{tactivo.nombre}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <div mat-dialog-actions class="align-content-end">
                            <button mat-button matStepperNext style="margin-top: -6px;" [disabled]="forma.invalid" type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                   </div>
                  <div class="row" style="margin: 10px;"></div>
                  <div class="row" *ngIf="!cargando && listaActivo.length > 0">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header card-header-danger" style="text-align: center;">
                                  <h4 class="card-title">Detalles listados</h4>
                              </div>
                              <div class="card-body">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead class="text-primary">
                                              <th>
                                                  Activo
                                              </th>
                                              <th>
                                                  Tipo de activo
                                              </th>
                                              <th>Seleccionar</th>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let a of listaActivo | paginate: { itemsPerPage: 5, currentPage: page }">
                                                  <td>{{a.nombre}}</td>
                                                  <td>{{a.tipoActivo.nombre}}</td>
                                                  <td>
                                                      <div mat-dialog-actions class="align-content-end">
                                                          <button mat-button matStepperNext type="submit" color="primary" style="
                                                          margin-top: -60px;" (click)="activoSelecionado(a)"><mat-icon>check</mat-icon></button>
                                                      </div>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                      <div class="text-center">
                                          <pagination-controls (pageChange)="page = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
          
                          <div class="card" *ngIf="!cargando && listaActivo.length === 0">
                              <mat-card>No hay datos</mat-card>
                          </div>
          
                          <div class="text-center" *ngIf="cargando">
                              <mat-card class="alert alert-danger">
                                  Cargando...
                                  <mat-card-content>
                                      <mat-icon class="fa-spin" >autorenew</mat-icon>
                                  </mat-card-content>
                                  Por favor espere!
                              </mat-card>
                              
                          </div>
          
                      </div>
                  </div>
               </form>                
             </mat-step>
              <mat-step state="p2">
                  <form (ngSubmit)="guardarAdquisicion(forma)" #forma="ngForm" autocomplete="off">
                      <ng-template matStepLabel>Adquisicion de Activo fijo</ng-template>
                      <div class="text-center" *ngIf="!mostrar">
                        <mat-card class="alert alert-warning">
                        <mat-card-content>
                            <mat-icon>warning</mat-icon>
                        </mat-card-content>
                        ¡ALERTA! Debe seleccionar o registrar un activo para poder agregar adquisicion
                    </mat-card>
                    </div>
                    <div *ngIf="mostrar">
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="legacy" >
                              <mat-label>Responsable</mat-label>
                              <mat-select required
                              name="responsable" #responsable="ngModel"
                              [(ngModel)]="adquisicionActivo.usuario">
                                <mat-option *ngFor="let usu of listaEncargado"  [value]="usu">{{usu.nombre}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nombre del activo" required
                              name="nombreA"
                              #nombreA="ngModel"
                              [(ngModel)]="activofijo.nombre">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="legacy">
                              <mat-label>Fecha de adquisicion</mat-label>
                              <input matInput  [min]="minDate" [max]="maxDate" [matDatepicker]="picker" required
                              name="fechaAdquisicion"
                              #fechaAdquisicion="ngModel" [(ngModel)]="adquisicionActivo.fecha">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                            <div class="col-md-4">
                              <mat-form-field appearance="legacy">
                                <mat-label>Tipo de adquisición</mat-label>
                                <mat-select required
                                name="tadq" #tadq="ngModel" [(ngModel)]="adquisicionActivo.tipoAdquisicion">
                                  <mat-option value="COMPRADO_NUEVO">Comprado / Nuevo</mat-option>
                                  <mat-option value="COMPRADO_USADO">Comprado / Usado</mat-option>
                                  <mat-option value="DONADO_NUEVO">Donado / Nuevo</mat-option>
                                  <mat-option value="DONADO_USADO">Donado / Usado</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput type="number" placeholder="Cantidad" required
                              name="cantidad"
                              #cantidad="ngModel" [(ngModel)]="adquisicionActivo.cantidad" min="1" max="100">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Precio por unidad" required
                              name="precio"
                              #precio="ngModel" [(ngModel)]="adquisicionActivo.precioUnidad">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput type="number" placeholder="Vida util" required
                              name="vidaUtil" min="1"
                              #vidaUtil="ngModel" [(ngModel)]="vidautil">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                              <mat-button-toggle matTooltip="Años" value="bold" (click)="obtenerMeses()">A</mat-button-toggle>
                              <mat-button-toggle matTooltip="Meses" value="italic" (click)="pasarMeses()">M</mat-button-toggle>
                            </mat-button-toggle-group>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="legacy" >
                              <mat-label>Unidad</mat-label>
                              <mat-select required (selectionChange)="unidadSeleccionada($event.value)"
                              name="uni">
                                <mat-option *ngFor="let unidad of listaUnidad"  [value]="unidad">{{unidad.nombre}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="legacy" >
                              <mat-label>Departamento</mat-label>
                              <mat-select required (selectionChange)="departamentoSeleccionada($event.value)"
                              name="depto" #depto="ngModel"
                              [(ngModel)]="adquisicionActivo.departamento">
                                <mat-option *ngFor="let d of listaDepartamento"  [value]="d">{{d.nombre}}</mat-option>
                              </mat-select> 
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field appearance="fill">
                              <mat-label>Carácteristica del activo</mat-label>
                              <textarea matInput 
                              name="caracteristica" #input maxlength="800" #caracteristica="ngModel" [(ngModel)]="adquisicionActivo.descripcion"></textarea>
                              <mat-hint align="end">{{input.value?.length || 0}}/800</mat-hint>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6"></div>
                          <div class="col-md-6">
                            <div mat-dialog-actions class="align-content-end">
                              <button mat-raised-button class="btn btn-danger">Cancelar</button>
                              <button mat-button matStepperNext  class="btn btn-primary" type="submit" [mat-dialog-close]="">Guardar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </form>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>