<form (ngSubmit)="darBaja(forma)" #forma="ngForm">
    <div mat-dialog-content>
      <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary" style="text-align: center;">
                        <h2 class="card-title">Registro </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy">
                                  <mat-label>Fecha de adquisicion</mat-label>
                                  <input matInput  [min]="fecha" [matDatepicker]="picker" required
                                  name="fechaAdquisicion"
                                  #fechaAdquisicion="ngModel" [(ngModel)]="fecha" disabled>
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="legacy">
                                  <mat-label>Motivo de baja</mat-label>
                                  <mat-select required
                                  name="tadq" #tadq="ngModel" [(ngModel)]="activobaja.motivo">
                                    <mat-option value="DESECHADO">Desechado</mat-option>
                                    <mat-option value="VENDIDO">Vendido</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="align-content: center;">
                    <div class="row" *ngIf="listadarbaja.length > 0">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-danger" style="text-align: center;">
                                    <h4 class="card-title">Detalles listados</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>
                                                    Codigo
                                                </th>
                                                <th>
                                                    Activo
                                                </th>
                                                <th>
                                                    Valor de Recuperacion($)
                                                </th>
                                            </thead>
                                            <tbody>
                                               <tr *ngFor="let lb of listadarbaja | paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
                                                  <td>
                                                      {{lb.codigoGenerado}}
                                                  </td>
                                                  <td style="text-align: center;">
                                                      {{lb.nombre}}
                                                  </td>
                                                  <td style="text-align: center;">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput type="number"  min="1" placeholder="" required (keyup)="setPrecio(lb,i,$event.target.value)" 
                                                        name="p">
                                                    </mat-form-field>
                                                  </td>
                                               </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <pagination-controls (pageChange)="page = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="align-content-end">
      <button mat-raised-button class="btn btn-danger" type="button" (click)="onCancelar()">Cancelar</button>
      <button mat-raised-button class="btn btn-primary" type="submit" [disabled]="forma.invalid" [mat-dialog-close]="true">Dar de baja</button>
    </div>
  </form>
