<body class="fondo">
    <div class="oscuro">
        <div class="login">
            <form (ngSubmit)="iniciarSession(forma)" #forma="ngForm">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="align-content: center;">
                            <div class="card-header card-header-success" style="text-align: center;">
                                <h2 class="card-title">Login</h2>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="offset-1 col-md-10">
                                        <mat-form-field class="example-full-width" appearance="standard">
                                            <mat-label>Nombre de usuario</mat-label>
                                            <input matInput type="text" placeholder="usuario" required
                                                name="nombre" #nombre="ngModel"
                                                [(ngModel)]="usuario.nombre">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-1 col-md-10">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Clave</mat-label>
                                            <input matInput [type]="hide ? 'password' : 'text'" name="clave" #clave="ngModel"
                                            [(ngModel)]="usuario.clave" required>
                                            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                          </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-3" style="align-content: center;">
                                <div class=" offset-1 col-md-10" style="align-content: center;">
                                    <div mat-dialog-actions>
                                        <button mat-raised-button class="btn btn-primary btn-block" type="submit"
                                            [disabled]="forma.invalid">Iniciar Session</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </form>
        </div>
    </div>
</body>