.fondo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('../../../assets/img/fondfondo.jpg');
    background-repeat: no-repeat;
    background-size: 85%;
}

.oscuro {
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 25, 25, 0.5);
    background-repeat: no-repeat;
    background-size: 100%;
}

.inicio {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}