<body class="fondo">
    <div class="oscuro">
        <div class="inicio">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <h1 style="color: rgb(97, 15, 228); margin-right: 250px;
                            text-decoration: underline; font-weight: bold; font-size: 70px;
                            background: lightcoral;">
                        BIENVENIDO</h1>
                </div>
            </div>
            <div class="row pt-5">
                <h2 style="margin-right: 250px; font-size: 150%; font-family: cursive; 
                        background-color: rgba(13, 13, 14, 0.301); 
                        color: lavender; text-align: center;">
                    Sistema Informático para el control de activo fijo
                    y cuentas por cobrar de una institución financiera
                    desarrollado en la cátedra de Análisis Financieros
                    impartida por el docente Lic. Msc. José Oscar Peraza
                </h2>
            </div>
            <div class="row" style="margin-right: 250px; background-color: rgba(245, 245, 245, 0.897); 
            color: rgb(18, 18, 19); text-align: center;">
                    <div class="col-md-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Fecha de simulada</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="##-##-####"
                                (dateChange)="seleccionarFecha($event.value)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" style="margin-top: 10px;">
                        <button mat-raised-button class="btn btn-danger" [disabled]="simulada"
                            (click)="actualizarFecha()">Actualizar fecha</button>
                    </div>
            </div>
        </div>
    </div>
</body>