<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button mat-raised-button class="btn btn-primary" (click)="openDialogActivoFijo()">Agregar registro</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group (selectedTabChange)="LE($event)">
                    <mat-tab label="Activos disponibles">
                        <div class="row" *ngIf="!cargando && listaAdquisicionActivo.length > 0">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-danger" style="text-align: center;">
                                        <h4 class="card-title">Detalle listado</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                    </th>
                                                    <th>
                                                        Codigo
                                                    </th>
                                                    <th>
                                                        Activo
                                                    </th>
                                                    <th>
                                                        Vida Util
                                                    </th>
                                                    <th>
                                                        Precio
                                                    </th> 
                                                    <th>
                                                        Tipo Adquisicion
                                                    </th> 
                                                    <th>
                                                        Ver
                                                    </th>
                                                </thead>
                                                <tbody>
                                                   <tr *ngFor="let a of listaAdquisicionActivo | paginate: { itemsPerPage: 5, currentPage: page }; let i= index">
                                                      <td style="text-align: center;">
                                                        <section class="example-section">
                                                            <mat-checkbox (change)="checkuncheckall(a,$event,i)" class="example-margin"></mat-checkbox>
                                                        </section>
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.codigoGenerado}}  
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.nombre}}  
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.vidaUtil}} 
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.precioUnidad}}  
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.tipoAdquisicion}}
                                                      </td>
                                                      <td>
                                                        <div *ngIf="a.tipoCalculo!=d">
                                                                {{a.tipoCalculo}} POR:
                                                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                                                <mat-button-toggle value="bold" (click)="anio(a)">Año</mat-button-toggle>
                                                                <mat-button-toggle value="italic" (click)="mes(a)">Mes</mat-button-toggle>
                                                                <mat-button-toggle value="underline" (click)="dia(a)">Dia</mat-button-toggle>
                                                            </mat-button-toggle-group>
                                                        </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <pagination-controls (pageChange)="page = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <p>&nbsp;&nbsp;&nbsp;<button mat-icon-button color="warn">
                                                        <mat-icon>subdirectory_arrow_right</mat-icon>
                                                      </button> Seleccione para dar de baja a los activos fijos</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <button mat-raised-button class="btn btn-danger" [disabled]="disable" (click)="openDialogDetalleBaja()">Dar de baja</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                
                                <div class="text-center" *ngIf="!cargando && listaAdquisicionActivo.length === 0">
                                    <mat-card class="alert alert-warning">
                                        No hay datos!
                                        <mat-card-content>
                                            <mat-icon>warning</mat-icon>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                
                                <div class="text-center" *ngIf="cargando">
                                    <mat-card class="alert alert-danger">
                                        Cargando...
                                        <mat-card-content>
                                            <mat-icon class="fa-spin" >autorenew</mat-icon>
                                        </mat-card-content>
                                        Por favor espere!
                                    </mat-card>
                                </div>
                
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Activos de baja">
                        <div class="row" *ngIf="!cargando1 && listabaja.length > 0">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-danger" style="text-align: center;">
                                        <h4 class="card-title">Detalle listado</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        Codigo
                                                    </th>
                                                    <th>
                                                        Activo
                                                    </th>
                                                    <th>
                                                        Tipo de activo
                                                    </th>
                                                    <th>
                                                        Valor de recuperacion
                                                    </th>
                                                    <th>
                                                        Fecha
                                                    </th> 
                                                </thead>
                                                <tbody>
                                                   <tr *ngFor="let a of listabaja | paginate: { itemsPerPage: 5, currentPage: page }; let i= index">
                                                      <td style="text-align: center;">
                                                        {{a.codigoGenerado}}  
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.nombre}}  
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.tipoActivo}} 
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.motivo}}  
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.fechaBaja | date:'dd/MM/yyyy'}}
                                                      </td>
                                                   </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <pagination-controls (pageChange)="page = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                
                                <div class="text-center" *ngIf="!cargando1 && listabaja.length === 0">
                                    <mat-card class="alert alert-warning">
                                        No hay datos!
                                        <mat-card-content>
                                            <mat-icon>warning</mat-icon>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                
                                <div class="text-center" *ngIf="cargando1">
                                    <mat-card class="alert alert-danger">
                                        Cargando...
                                        <mat-card-content>
                                            <mat-icon class="fa-spin" >autorenew</mat-icon>
                                        </mat-card-content>
                                        Por favor espere!
                                    </mat-card>
                                </div>
                
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Agrupacion de activos">
                        <div class="row" *ngIf="!cargando2 && listaATipoActivo.length > 0">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-danger" style="text-align: center;">
                                        <h4 class="card-title">Activos</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        Tipo activo
                                                    </th>
                                                    <th>
                                                        Total
                                                    </th> 
                                                </thead>
                                                <tbody>
                                                   <tr (click)="activo(a)" *ngFor="let a of listaATipoActivo | paginate: { itemsPerPage: 5, currentPage: page }; let i= index">
                                                      <td style="text-align: center;"> 
                                                        {{a.tipoActivo}}
                                                      </td>
                                                      <td style="text-align: center;">
                                                        {{a.cantidad}}
                                                      </td>
                                                   </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <pagination-controls (pageChange)="page = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
  </div>