<form (ngSubmit)="guardarusuario(forma)" #forma="ngForm">
    <div mat-dialog-content>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="align-content: center;">
                            <div class="card-header card-header-primary" style="text-align: center;">
                                <h2 class="card-title">{{accion}}</h2>
                            </div>
                            <div class="card-body">
                                <div class="row" [hidden]="estado">
                                    <div class="col-md-12">
                                      <mat-accordion>
                                        <mat-expansion-panel >
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              Seleccionar representante
                                            </mat-panel-title>
                                            <mat-panel-description>
                                              <p>{{duiRepre | dui}} / {{nombreRepre}}</p>
                                            </mat-panel-description>
                                          </mat-expansion-panel-header>
                                          <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Buscar</mat-label>
                                            <input matInput placeholder="Buscar por DUI" (keyup)="buscarPorDUI($event.target.value)" type="text">
                                          </mat-form-field>
                                          <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        DUI
                                                    </th>
                                                    <th>
                                                        Nombres
                                                    </th>
                                                    <th>
                                                        Apellidos
                                                    </th>
                                                    <th>
                                                        Acción
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let pn of listaPersona | paginate: { itemsPerPage: 5, currentPage: pageAdd }; let i = index">
                                                        <td>
                                                            {{pn.dui | dui}}
                                                        </td>
                                                        <td>
                                                            {{pn.nombres}}
                                                        </td>
                                                        <td>
                                                            {{pn.apellidos}}
                                                        </td>
                                                        <td>
                                                              <button mat-icon-button type="button" (click)="seleccionoPersona(pn)" color="primary">
                                                                <mat-icon>check</mat-icon>
                                                              </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <pagination-controls (pageChange)="pageAdd = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                            </div>
                                        </div>
                                        </mat-expansion-panel>
                                      </mat-accordion>
                                    </div>
                                  </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Tipo de usuario</mat-label>
                                            <mat-select required [disabled]="estado" name="tipo" #tipo="ngModel"
                                                [(ngModel)]="usuario.tipo">
                                                <mat-option value="ADMINISTRADOR">ADMINISTRADOR</mat-option>
                                                <mat-option value="ASESOR">ASESOR</mat-option>
                                                <mat-option value="COBRO">COBRO</mat-option>
                                                <mat-option value="ENCARGADO_ACTIVO_FIJO">ENCARGADO DE ACTIVO FIJO</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width" appearance="standard">
                                            <mat-label>Nombre de usuario</mat-label>
                                            <input matInput type="text" placeholder="usuario" required
                                                [disabled]="estado" name="nombre" #nombre="ngModel"
                                                [(ngModel)]="usuario.nombre">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Clave</mat-label>
                                            <input matInput [type]="hide ? 'password' : 'text'" name="clave" #clave="ngModel"
                                            [(ngModel)]="usuario.clave" required>
                                            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Repetir clave</mat-label>
                                            <input matInput [type]="hide1 ? 'password' : 'text'" name="reclave" #reclave="ngModel"
                                            [(ngModel)]="usuario.reClave" required (keyup)="sonIguales($event.target.value)">
                                            <button mat-icon-button type="button" matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div mat-dialog-actions class="align-content-end">
        <button mat-raised-button class="btn btn-danger" type="button" (click)="onCancelar()">Cancelar</button>
        <button mat-raised-button class="btn btn-primary" type="submit" [disabled]="forma.invalid"
            [mat-dialog-close]="">Guardar</button>
    </div>
</form>